.head-bar {
	background: url(../img/main6.jpg);
	height: 500px;
	width: 96%;
	margin-top: 15px;
	margin-right: 2%;
	margin-bottom: 10px;
	margin-left: 2%;
}

.head_bar_con {
	height: 80px;
	width: 100%;
	font-family: 楷体; /*文字字体*/
	font-size: 18pt; /*文字大小*/
	/*line-height : 200%; /*设置行高*/
	font-weight: bold; /*文字粗体*/
}

.middle-bar {
	height: 350px;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
}

.gongneng {
	display: inline-block;
	float: right;
}

.gongneng li {
	display: inline-block;
}

.frist {
	display: inline-block;
}

.one {
	background: #FFFFFF url(../img/main7.jpg) left;
	float: left;
	height: 350px;
	width: 30%;
	margin-top: 15px;
	margin-right: 2%;
	margin-bottom: 10px;
	margin-left: 2%;
}

.two {
	background: #FFFFFF url(../img/main3.jpg) center;
	float: left;
	height: 350px;
	width: 30%;
	margin-top: 15px;
	margin-bottom: 10px;
}

.three {
	background: #FFFFFF url(../img/main1.jpg) right;
	float: left;
	height: 350px;
	width: 30%;
	margin-top: 15px;
	margin-right: 2%;
	margin-bottom: 10px;
	margin-left: 2%;
}

.tab-title {
	font-family: 宋体;
	font-size: 25px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.jie {
	text-align: center;
	margin: 0 auto;
	font-family: 楷体;
}

.foot_ul li {
	float: left;
	list-style: none;
	width: 75px;
	margin-left: 5%;
	margin-right: 3%;
	text-align: center;
}

.last-bar-f {
	font-family: 楷体;
	font-size: 20px;
	margin-left: 35%;
	width: 200px;
	height: 100px;
}

.last-bar-f img {
	cursor: pointer;
	transition: all 0.5s;
}

.last-bar-f img:hover {
	transform: scale(8);
}

.guide-T {
	float: left;
}

.see_ul {
	float: right;
}

.last-bar-s {
	margin-left: 15%;
}

.m {
	background: url("../img/main9.jpg");
	height: 600px;
	width: 92%;
	margin-top: 15px;
	margin-right: 4%;
	margin-bottom: 10px;
	margin-left: 4%;
}

.yi {
	height: 100px;
	margin-top: 20px;
	margin-right: 1%;
	float: right;
	font-size: 20px;
	font-family: 楷体;
}

.yir {
	float: right;
	list-style: none;
	//
	去除列表中的小圆点
}

.yir li {
	display: inline-block;
}

.er {
	float: right;
	margin-top: 100px;
}

.mini_login {
	display: none;
	position: absolute;
	z-index: 2;
	background: white;
}

.mini_login .item {
	width: 365px;
	margin: 0 0;
	height: 50px;
	line-height: 48px;
	padding: 0 5px;
}

.mini_login .item1 {
	width: 365px;
	margin: 0 0;
	height: 50px;
	line-height: 48px;
	padding: 0 5px;
}

.mini_login .item2 {
	width: 365px;
	margin: 25px 0 5px 0;
	height: 50px;
	line-height: 48px;
	padding: 0 5px;
}
/* 登录窗第一行*/
.mini_login .firstLine {
	color: #5677b5;
	background: #F7F7F7;
	font-size: 18px;
	font-weight: bold;
	cursor: move;
}

.mini_login .item .login_close {
	display: inline-block;
	float: right;
	cursor: pointer;
}

.mini_login .item label {
	font-size: 14px;
	margin: 15px;
}

.mini_login .item1 label {
	font-size: 14px;
	margin: 15px 12px 15px 3px;
}

.mini_login .item input {
	display: inline-block;
	height: 75%;
	width: 85%;
	text-indent: 25px;
	outline: none;
	margin: 2px 30px;
}

.mini_login .item1 input {
	display: inline-block;
	height: 75%;
	width: 85%;
	text-indent: 25px;
	outline: none;
	margin: 2px 30px;
}

.mini_login .item2 input {
	display: inline-block;
	height: 75%;
	width: 85%;
	text-indent: 25px;
	outline: none;
	margin: 2px 30px;
}

.mini_login .item img {
	display: inline-block;
	height: 60%;
	width: 40%;
	font-size: 14px;
	margin: 15px 100px;
}
/*登录按钮*/
.mini_login .item .btn_login {
	width: 85%;
	height: 40px;
	background: #3b7ae3;
	border: none;
	font-size: 18px;
	color: #fff;
	outline: none;
	text-decoration: none;
	display: block;
	text-align: center;
	line-height: 50px;
	font-family: "华文行楷";
}

.mini_login .item .btn_register {
	display: block;
	margin: 10px 2px 0;
	height: 30px;
	width: 100px;
	line-height: 30px;
	background: #4490F7;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.input-username {
	background: url(../img/input_username.png) no-repeat 2px;
}

.input-password {
	background: url(../img/input_password.png) no-repeat 2px;
}

.input-code {
	background: url(../img/input_code.png) no-repeat 2px;
}

.forget-pwd {
	height: 40px;
	line-height: 40px;
	text-align: right;
	font-size: 12px;
}

.register-now {
	height: 40px;
	line-height: 40px;
	text-align: right;
	font-size: 12px;
}

.cover {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #000;
	opacity: 0.3;
}

.b {
	/* 加载背景图 */
	background-image: url(../img/6.jpg);
	/* 背景图垂直、水平均居中 */
	background-position: center center;
	/* 背景图不平铺 */
	background-repeat: no-repeat;
	/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
	background-attachment: fixed;
	/* 让背景图基于容器大小伸缩 */
	background-size: cover;
	/* 设置背景颜色，背景图加载过程中会显示背景色 */
	background-color: #464646;
}

.c {
	width: 365px;
	margin: 0 0;
	height: 40px;
	line-height: 48px;
	padding: 0 5px;
}


.first{
	background:url("../img/main9.jpg") no-repeat fixed center;
	
}

.yir{
	position: fixed;
	right: 60px;
	top: 20px;
	list-style: none;//去除列表中的小圆点
}
.yir li{
	display: inline-block;
}
.er{
	position: absolute;
	left: 25%;
	top: 10%;
	width: 50%;
}
.panel-heading{
background: #d9edf7;
}
.panel-body{
	margin: 0 auto;
	text-align: left;
	background: #ffffff;
	font-size: 15px;
	font-family: 楷体；
}
.firstau{
	background:url("../img/teammates.jpg") no-repeat fixed center;
	
}
.firstcu{
	background:url("../img/cu.jpg") repeat fixed center;
	
}